@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <style>
        div.a {
            text-align: center;
        }
    </style>
    <div class="a">

    <h1> Institute Of Technology</h1>
    <p>
        One-of-a-kind active learning programs form the foundation of education.
        Experience a new way of learning—one that will prepare you to innovate and lead.
    </p>
   </div>

</div>

